<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1407.0.min.js"></script>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    
 

  
          <title>Document</title>
</head>
<body>
    

  <!-- Modal -->
<!-- <div id="editModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>  
    <form id="editForm" action="/edit" method="POST">
      <input type="hidden" name="index" id="editIndex">
      <input type="text" name="name" id="editText" required>
      <input type="text" name="address" id="editText" required>
      <input type="text" name="kategory" id="editText" required>
      <button type="submit">Save</button>
    </form>
  </div>
</div>
   -->

  

 
          <form action="/put" method="post">
             Name: <input name="name" type="text" required/> <br />
            Adress: <input name="address" type="text" required/> <br />
            ID: <input  name="id" type="text"required> <br>
            <button type="submit"> Put</button><br>
          </form><br>

          <ul>
            <%  restaurant_items.forEach(function(item) { %>
              
                       
              <li>
                <%=item.id.S %>
              </li>
              <li><%=item.address.S %></li>
              <li><%=item.name.S%></li>
              <% }) %> 
          </ul> 

          <form action="/update" method="post">
            Name: <input name="name" type="text" /> <br />
           Adress: <input name="address" type="text" /> <br />
          id: <input  name="id" type="text"> <br>
         <button type="submit"> Edit</button><br>
         </form><br>

         <form action="/delete" method="post">
        
            id: <input  name="id" type="text"> <br>
                <button type="submit"> delete</button><br>
        </form><br>
 
          <!-- <form action="/delete" method="get">
            Name: <input name="name" type="text" /> <br /> -->
           <!-- Adress: <input name="address" type="text" /> <br />
           Kategory: <input  name="kategory" type="text"> <br> -->
           <!-- <button type="submit"> Delete</button><br>
          </form><br> -->


          <!-- <form action="/edit" method="post">
            Name: <input name="name" type="text" /> <br />
           Adress: <input name="address" type="text" /> <br />
           Kategory: <input  name="kategory" type="text"> <br>
         <button type="submit"> Edit</button><br>
         </form><br> -->

<!-- Add an event listener to each edit button -->

        
  
</body>
</html>